html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 20px 20px;
    grid-template-areas: "a b";
    position: relative;
    top: 60px;
    margin-bottom: -60px;
}
.project {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    grid-area: a;
    justify-self: start;
    padding-left: 20px;
}
.project a {
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
}
.main_menu {
    display: none;
}
.bar { 
    grid-area: b;
    justify-self: center;
}
li {
    list-style-type: none; /* Убираем маркеры */
    text-transform: uppercase;
    text-align: center;
   }
ul {
    margin: 0; /* Отступ слева в браузере IE и Opera */
    padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
ul.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu a {
    text-decoration: none;
    color: aliceblue;
    font-size: small;
}
.main {
    display: grid;
    grid-template-columns: 100%;
    grid-area: main;
}
.hero {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 200px 200px 100px 200px;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"
        "j k l";
    background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .header_logo {
    display: grid;
    grid-area: e;
    place-items: center;
}
.hero .hero_headline {
    display: grid;
    grid-area: h;
    justify-content: center;
    font-family: 'Oswald';
    font-size: 24px;
    text-align: center;
}
.hero .hero_lorem {
    display: grid;
    grid-area: k;
    justify-content: center;
    font-size: 12px;
    font-family: 'Source Sans Pro';
}
.hero h1 {
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
}
.hero h3 {
    color: aliceblue;
    text-align: center;
}
.description {
    display: grid;
    grid-template-columns: 100%;
    background-color: #f2f2f2;
    justify-items: center;
}
.description h2 {
    font-family: 'Oswald';
    font-size: 24px;
    text-align: center;
}
.description h3 {
    font-family: 'Oswald';
    font-size: 12px;
}
.description .read_more {
    background: #55C2D8;
    border-color: #55C2D8;
    border-radius: 18px;
    padding: 10px;
    margin-bottom: 20px;
}
.main_text {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}
.description .main_text div {
    width: 500px;
    padding: 20px;
    margin: 20px;
}
.learn_more {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 200px 20px 200px;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i";
    justify-items: center;
    background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.learn_more h2 {
    grid-area: b;
    font-size: 24px;
    font-family: Oswald;
    color: aliceblue;
    text-align: center;
    align-self: center;
}
.learn_more .play {
    grid-area: e;
}
.learn_more h3 {
    grid-area: h;
    color: aliceblue;
    font-size: 12px;
    align-self: center;
}
.footer {
    padding: 10px;
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    background: #464547;
    color: aliceblue;
}
/* MEDIA 768 px */
@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    .header {
        display: grid;
        grid-area: header;
        grid-template-columns: 200px 800px 200px;
        grid-template-rows: 40px 40px;
        grid-template-areas:
            "a b c"
            "d e f";
        position: relative;
        top: 60px;
        margin-bottom: -80px;
    }
    .project {
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        grid-area: d;
    }
    .project a {
        text-decoration: none;
        color: aliceblue;
        font-size: 16px;
    }
    .main_menu {
        grid-area: e;
        display: block;
    }
    .bar {
        display: none;
    }
    li {
        list-style-type: none; /* Убираем маркеры */
        text-transform: uppercase;
        text-align: center;
       }
    ul {
        margin: 0; /* Отступ слева в браузере IE и Opera */
        padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    ul.menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .menu a {
        text-decoration: none;
        color: aliceblue;
        font-size: small;
    }
    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-area: main;
    }
    .hero {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 200px 200px 100px 200px;
        grid-template-areas:
            "a b c"
            "d e f"
            "g h i"
            "j k l";
        background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero .header_logo {
        display: grid;
        grid-area: e;
        place-items: center;
    }
    .hero .hero_headline {
        display: grid;
        grid-area: h;
        justify-content: center;
        font-family: 'Oswald';
        font-size: 48px;
        text-align: center;
    }
    .hero .hero_lorem {
        display: grid;
        grid-area: k;
        justify-content: center;
        font-size: 24px;
        font-family: 'Source Sans Pro';
    }
    .hero h1 {
        color: aliceblue;
        text-transform: uppercase;
        text-align: center;
    }
    .hero h3 {
        color: aliceblue;
        text-align: center;
    }
    .description {
        display: grid;
        grid-template-columns: 100%;
        background-color: #f2f2f2;
        justify-items: center;
    }
    .description h2 {
        font-family: 'Oswald';
        font-size: 48px;
    }
    .description h3 {
        font-family: 'Oswald';
        font-size: 24px;
    }
    .description .read_more {
        background: #55C2D8;
        border-color: #55C2D8;
        border-radius: 18px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .main_text {
        display: flex;
        justify-content: space-around;
        font-size: 16px;
    }
    .description .main_text div {
        width: 500px;
        padding: 20px;
        margin: 20px;
    }
    .learn_more {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 200px 20px 200px;
        grid-template-areas:
            "a b c"
            "d e f"
            "g h i";
        justify-items: center;
        background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .learn_more h2 {
        grid-area: b;
        justify-items: center;
        font-size: 48px;
        font-family: Oswald;
        color: aliceblue;
    }
    .learn_more .play {
        grid-area: e;
        text-align: center;
    }
    .learn_more h3 {
        grid-area: h;
        justify-items: center;
        color: aliceblue;
        font-size: 24px;
    }
    .footer {
        display: grid;
        grid-area: footer;
        grid-template-columns: 10% 10% 20% 20% 20% 10% 10%;
        grid-template-rows: 20px 20px 20px 20px; 
        grid-template-areas:
            "a b c d e f g"
            "h i j k l m n"
            "o p q r s t u"
            "w w w w w w w";
        /* justify-items: center;
        justify-self: center; */
        grid-row-gap: 10px;
        background: #464547;
        color: aliceblue;
    }
    .footer p {
        padding: 0;
        margin: 0;
    }
    .footer .footer_logo {
        grid-area: i;
    }
    .footer .adress {
        grid-area: j;
    }
    .footer .email {
        grid-area: q;
    }
    .footer .rights {
        grid-area: s;
    }
}

